/** 
**css        
**@author Jie Tang
**/

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    cellpadding: 10;
    font-family: Arial; 
    font-size: 16px;
    border-collapse: collapse;
}

th, td {
    padding: 10px; 
    text-align: left;
}
th.subp, td.subp { 
    text-align: right;
}

label{
    float: left;
    width: 100px;
    font-weight: bold;
}

#county{
    width:200px;
}
